USE [Members]
GO
/****** Object:  User [MembersUser]    Script Date: 31/12/2017 12:20:57 ******/
CREATE USER [MembersUser] FOR LOGIN [MembersUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MembersUser]
GO
/****** Object:  Table [dbo].[People]    Script Date: 31/12/2017 12:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Solo] [bit] NOT NULL,
	[StartDate] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Notes] [nvarchar](1000) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Plane] [nvarchar](30) NOT NULL,
	[Licence] [nvarchar](50) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([ID], [FirstName], [LastName], [Email], [Solo], [StartDate], [Age], [Notes], [Gender], [Plane], [Licence], [Created]) VALUES (1, N'Sonia', N'Samuel', N'ssamuel@hotmail.com', 0, CAST(N'1988-01-12' AS Date), 27, N'No comment', N'Female', N'747', N'Solo', CAST(N'2017-06-12T18:22:42.7730000' AS DateTime2))
INSERT [dbo].[People] ([ID], [FirstName], [LastName], [Email], [Solo], [StartDate], [Age], [Notes], [Gender], [Plane], [Licence], [Created]) VALUES (2, N'Brian', N'Dos Santos', N'bdossantos@hotmail.com', 0, CAST(N'2003-10-15' AS Date), 19, N'No comment', N'Male', N'747', N'Restricted', CAST(N'2017-06-12T18:22:42.7730000' AS DateTime2))
INSERT [dbo].[People] ([ID], [FirstName], [LastName], [Email], [Solo], [StartDate], [Age], [Notes], [Gender], [Plane], [Licence], [Created]) VALUES (3, N'Lily', N'Cameron', N'lcameron@hotmail.com', 1, CAST(N'1973-07-16' AS Date), 29, N'No comment', N'Male', N'747', N'Unrestricted', CAST(N'2017-06-12T18:22:42.7730000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[People] OFF
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF_People_Solo]  DEFAULT ((0)) FOR [Solo]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF_People_Night]  DEFAULT ((0)) FOR [Licence]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF_People_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  StoredProcedure [dbo].[GetPeople]    Script Date: 31/12/2017 12:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Steve Bond
-- Create date: 9th June 2017
-- Description:	Get people that match optional 
--				partial First or Last Name
-- =============================================
CREATE PROCEDURE [dbo].[GetPeople] 
	@F	nvarchar(50) = '',
	@L	nvarchar(50) = ''

AS
BEGIN
	
	IF @F = NULL
		SET @F = ''

	IF @L = NULL
		SET @L = ''

	SET NOCOUNT ON;

	SELECT [ID]
		  ,[FirstName]
		  ,[LastName]
		  ,[Email]
		  ,[Solo]
		  ,CONVERT(varchar, [StartDate], 103) AS StartDate
		  ,[Age]
		  ,[Notes]
		  ,[Gender]
		  ,[Plane]
		  ,[Licence]
		  ,CONVERT(varchar, [Created], 103) + ' ' + CONVERT(varchar, [Created], 8) AS Created
	  FROM [dbo].[People]
	  WHERE (FirstName LIKE '%' + @F + '%' AND LastName LIKE '%' + @L + '%')

END
GO
/****** Object:  StoredProcedure [dbo].[GetPersonByID]    Script Date: 31/12/2017 12:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Steve Bond
-- Create date: 10/06/2017
-- Description:	Get a Person by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetPersonByID]
	@ID int = 0
AS
BEGIN
	
	IF @ID = NULL OR @ID = 0
		RETURN -1

	SET NOCOUNT ON;

	SELECT [ID]
		,[FirstName]
		,[LastName]
		,[Email]
		,[Solo]
		,[StartDate]
		,[Age]
		,[Notes]
		,[Gender]
		,[Plane]
		,[Licence]
		,[Created]
	FROM [dbo].[People]
	WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[LookupNames]    Script Date: 31/12/2017 12:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Steve Bond
-- Create date: 10/06/2017
-- Description:	Find matching names
-- =============================================
CREATE PROCEDURE [dbo].[LookupNames] 
	@EXP nvarchar(25) = ''
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT CONVERT(varchar, ID) AS ID, FirstName + ' ' + LastName AS NAME
	FROM People
	WHERE (FirstName LIKE '%' + @EXP + '%' OR LastName LIKE '%' + @EXP + '%')
 

END
GO
